.veu_card {
	border: 3px solid var(--vk-color-border-light);
	border-radius: var(--vk-size-radius);
	.veu_card_inner {
		position: relative;
		display: block;
		overflow: hidden;
		padding: 1.5rem;
		box-shadow: inset 0px 0px 0px 1px var(--vk-color-border-zuru);
	}
	.veu_card_title {
		color: $color_font_default;
		font-size: 16px;
		line-height: 1.4;
		padding: 0 0 0.4em;
		margin: 0 0 1em;
		display: block;
		border-bottom: $border_primary;
		/* ↓ Lightninng Pro の見出し変更機能を打ち消し */
		border-top: none;
		border-left: none;
		border-right: none;
		background: none;
		outline: unset;
		outline-offset: unset;
		box-shadow: unset;
		border-radius:unset;
		text-align: left;
		a {
			color: $color_font_default;
		}
		&::before,
		&::after {
			content: "";
			border: none;
			border-right: none;
			margin: 0;
			background: none;
			height: 0;
			left: inherit;
		}
		/* ↑ Lightninng Pro の見出し変更機能を打ち消し */		
	}
}
