.link-list li {
    padding: 0.5em;
}
iframe.wp-embedded-content {
    width: 100%;
}

.veu_adminEdit {
    margin-top: 5px;
}

.veu_contentAddSection {
    display: block;
    clear: both;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}

.btn {
    white-space: inherit;
}