[class^="vk_icon_w_r_sns_"],
[class*=" vk_icon_w_r_sns_"] {
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: "vk_sns";
    line-height: 1;

    /* Better Font Rendering =========== */
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vk_icon_w_r_sns_fb:before {
    content: "\e600";
}
.vk_icon_w_r_sns_google:before {
    content: "\e601";
}
.vk_icon_w_r_sns_hatena:before {
    content: "\e602";
}
.vk_icon_w_r_sns_line:before {
    content: "\e603";
}
.vk_icon_w_r_sns_pocket:before {
    content: "\e604";
}
.vk_icon_w_r_sns_twitter:before {
    content: "\e605";
}
.vk_icon_w_r_sns_x_twitter:before {
    content: "\e606";
}