.veu_promotion-alert {
	border: 1px solid rgba(0,0,0,0.125);
	padding: 0.5em 1em;
	border-radius: var(--vk-size-radius);
	margin-bottom: var(--vk-margin-block-bottom);
	font-size: 0.875rem;
	/* Alert Content部分に段落タグを入れた場合に最後の段落の余白を0にする */
	p:last-of-type{
		margin-bottom:0;
		margin-top: 0;
	}
}
