:root {
    --vk-color-border-hr:rgba(0,0,0,0.07);
    --vk-color-bg-accent:rgba( 0,0,0,0.02);
    --vk-color-border-light: rgba( 0,0,0,0.07);
    --vk-color-border-zuru:rgba(255, 255, 255, 0.8);
    --vk-color-text-meta: #d44950;
    --vk-color-text-body : #555555;
    --vk-color-text-link : #666666;
    --vk-color-text-link-hover : #1e73be;
    --vk-size-radius:4px;
    --vk-size-radius-sm:2px;
    
    --vk-size-text: 16px;
    --vk-size-text-meta: 0.75rem;
    --vk-size-text-lg: 1.313rem;
    --vk-size-text-sm: 0.875rem;
    --vk-size-text-xs: 0.75rem;

    --vk-margin-meta : 0.5rem;
    --vk-margin-block-bottom:2rem;
}

$color_font_default: #464646;
$color_key: #337ab7;
$border_primary: 1px solid #e5e5e5;
$section_margin: 30px;
