@charset "utf-8";
@import "_variable";
@import "_card";
@import "_sitemap";
@import "_contents_option_style";
@import "_child_page_list";
@import "_page_list_ancestor";
@import "_contact_section";

div.veu_contact_section_block .disabled,
div.veu_child_page_list_block .disabled,
div.veu_page_list_ancestor_block .disabled {
	display: block !important;
	background-color: rgba(139, 139, 150, 0.1);
	padding: 0.7em;
	text-align: center;
}

.editor-styles-wrapper .veu_contact .contact_bt {
	display: block;
}
