@charset "utf-8";

//@import "compass";
@use "_mixin";

.wp-list-table .section_title{
	font-weight: bold;
	background-color: #ccc;
	border-left:4px solid #333;
}

.wrap.debug_mode {
	tr.dev_object {
		display: table-row;
	}
}
.veu_metabox_nav {
	position: relative;
	display: block;
	overflow: hidden;
	.veu_metabox_all_section_toggle {
		position: relative;
		right: 0;
		top: 0;
		// 以下スキンなどによって負けないように指定しているので消さないように
		opacity: 1;
		float: none;
	}
}
.veu_metabox_footer {
	padding-top: 5px;
	.logo_exUnit {
		text-align: right;
		border: none;
		img {
			width: 100px;
		}
	}
}

.veu_metabox_all_section_toggle.close {
	.veu_metabox_all_section_toggle_btn_open {
		display: block;
	}
	.veu_metabox_all_section_toggle_btn_close {
		display: none;
	}
}
.veu_metabox_all_section_toggle.open {
	.veu_metabox_all_section_toggle_btn_open {
		display: none;
	}
	.veu_metabox_all_section_toggle_btn_close {
		display: block;
	}
}

.veu_metabox_section {
	p {
		margin-top:0;
		margin-bottom:10px;
	}
	label {
		font-weight: normal;
	}
	input[type="checkbox"] {
		margin-top: 0;
		margin-right: 4px;
	}
	input,
	select,
	textarea {
		margin-bottom: 5px;
	}
	&_title {
		position: relative;
		border: 1px solid #e5e5e5;
		padding: 7px 1rem;
		background-color: #f5f5f5;
		margin: 0 0 2px;
		font-size: 14px;
		cursor: pointer;
		&_status_btn {
			display: block;
			overflow: hidden;
			position: absolute;
			right: 10px;
			top: 5px;
			&.close {
				display: block;
			}
			&.open {
				display: none;
			}
		}
	}
	&_body {
		display: none;
		padding: 1rem 1rem 1.5rem;
		& > *:last-child{
			margin-bottom:0;
		}
		.button {
			margin-right:0.5em;
		}
	}
}
.veu_metabox_section.open {
	.veu_metabox_section_title_status_btn {
		&.close {
			display: none;
		}
		&.open {
			display: block;
		}
	}
	.veu_metabox_section_body {
		display: block;
	}
}

.vkExUnit_cta_button_icon_inputset dl{
	display: flex;
	dt {
		white-space: nowrap;
	}
	dd {
		width:50%;
		box-sizing: border-box;
	}
}

.body-open {
	border: 1px solid #ff0000;
}

.veu_head_title,
.veu_sns_title {
	input[type="text"] {
		width: 100%;
	}
}

.table-widget-enablation {
	width: 100%;
	tbody {
		td,
		th {
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		}
		.active {
			th,
			td {
				background-color: #f7fcfe;
			}
		}
	}
}

//設定メニュー横にアイコン追加
#toplevel_page_vkExUnit_setting_page{
	.dashicons-before{
		@include mixin.veu-icon();
	}
	&:hover .dashicons-before{
		@include mixin.veu-icon-hover();
	}
}

//admin-barの設定メニューにアイコン追加
#wp-admin-bar-veu_adminlink{
    .ab-veu-icon{
        @include mixin.admin-bar-ab-veu-icon();
    }
    &:hover{
        .ab-veu-icon{
            @include mixin.veu-icon-hover();
        }
    }
}