*sftp-config.json
node_modules/
dist/
.DS_Store
Thumbs.db
_notes/
*~
*.before
dist/
.wp-env.override.json
*.override.json

# * なしの /vendor/ で書くと下階層が除外できなくなるので注意
/vendor/*
/vendor/vektor-inc/vk-wp-unit-test-tools/
/vendor/yoast/
/vendor/sirbrillig/
/vendor/wp-phpunit/
!/vendor/composer/
!/vendor/vektor-inc/
!/vendor/autoload.php
