// page top btn
.page_top_btn {
	position: fixed;
	right: 2%;
	bottom: 3%;
	z-index: 99999;
	width: 40px;
	height: 38px;
	color: transparent; //PAGE TOPの文字を消すために追加 （overflow:hiddenで消すとカスタマイズショートカットアコンが消えるため）
	border: none;
	background: rgba(0,0,0,0.8);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.8), 0 0 0 2px rgba(0, 0, 0, 0.8);
	background-image: var( --ver_page_top_button_url );
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: opacity 0.3s;
	text-decoration: none;
	&:hover {  
		transition: opacity 0.3s;
		color: transparent;
		text-decoration: none;
	}
	.customize-partial-edit-shortcut-button {
		left:-40px;
	}
}
.scrolled .page_top_btn{
	display: block;
	opacity: 1;
	color: transparent;
}
