.editor-styles-wrapper{}
@font-face {
  font-family: 'vk_sns';
  src:  url('fonts/vk_sns.eot?jl09gx');
  src:  url('fonts/vk_sns.eot?jl09gx#iefix') format('embedded-opentype'),
    url('fonts/vk_sns.ttf?jl09gx') format('truetype'),
    url('fonts/vk_sns.woff?jl09gx') format('woff'),
    url('fonts/vk_sns.svg?jl09gx#vk_sns') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="vk_icon_w_r_sns_"],
[class*=" vk_icon_w_r_sns_"] {
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: "vk_sns";
    line-height: 1;

    /* Better Font Rendering =========== */
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vk_icon_w_r_sns_fb:before {
    content: "\e600";
}
.vk_icon_w_r_sns_google:before {
    content: "\e601";
}
.vk_icon_w_r_sns_hatena:before {
    content: "\e602";
}
.vk_icon_w_r_sns_line:before {
    content: "\e603";
}
.vk_icon_w_r_sns_pocket:before {
    content: "\e604";
}
.vk_icon_w_r_sns_twitter:before {
    content: "\e605";
}

