@charset "utf-8";
@import "compass";

$border_primary : 1px solid #e5e5e5; 
$color_font_default : #464646;
$color_key : #337ab7;

/*      .media(bootstrap)
/*-------------------------------------------*/
.media { border-bottom:$border_primary;padding:2em 0;margin-top:0;
  &:first-child { border-top:$border_primary; }
  .postList_thumbnail { width:160px;margin-bottom:0.5em;padding-right:30px; display:block; overflow:hidden;float:left;
    a { position: relative;display:block; overflow:hidden; }
    img { width: 100%;height:auto; }
    .postList_cateLabel {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .media-body { 
    .media-heading { font-size:1.8em;line-height:1.3em;margin-top:0; margin-bottom:0.5em;font-weight: normal;
      a { color:$color_font_default;
        &:hover { text-decoration: none; }
      }
    }
    p { margin-bottom:0; }
    a.media-body_excerpt { color:$color_font_default; }
  }
}
@media (max-width: 767px){
.media {
  .postList_thumbnail { padding-right:20px; }
  .media-body { 
    .media-heading { font-size:1.2em;line-height:1.3em; margin-bottom:0.5em; }
    } // .media-body
  } // .media
} // @media (max-width: 767px){
@media (max-width: 500px){
.media {
  .postList_thumbnail { width:100px; }
  } // .media
} // @media (max-width: 767px){