/*-------------------------------------------*/
/* relatedPosts
/*-------------------------------------------*/
.relatedPosts{
	& > .row{
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin: 0;
		margin-right: -3%;
		-ms-flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	.veu_related_item{
		float: none;
		margin-right: 2.9%;
		padding-right: 0;
		padding-left: 0;
		width: 47%;
		border-bottom: solid 1px #e5e5e5;
		& > .media:first-child{
			border: none;
		}
		& > .media{
			border: none;
		}
	}
	.veu_related_item:nth-child(1){
		border-top: solid 1px #e5e5e5;
	}
	.veu_related_item:nth-child(2){
		border-top: solid 1px #e5e5e5;
	}
}

@media (max-width: 768px){
.relatedPosts{
	.veu_related_item{
		display: block;
		width: 100%;
	}
	.veu_related_item:nth-child(2){
		border-top: none;
	}
}
}