@charset "utf-8";
@import "compass";
@import "_bizvektor_theme_included_style";

/*-------------------------------------------------*/
/* ex_unit 
/*-------------------------------------------------*/
/* .common
/*-------------------------------------------*/
/* .autoEyeCatchBox
/*-------------------------------------------*/
/* .sitemap
/*-------------------------------------------*/
/* fb Page Plugin
/*-------------------------------------------*/
/* .socialSet
/*-------------------------------------------*/
/* Profile wiget Plugin
/*-------------------------------------------*/
/* 3PR area wiget Plugin
/*-------------------------------------------*/
/* childPageIndex Plugin
/*-------------------------------------------*/
/* sitemap page Plugin
/*-------------------------------------------*/

/*-------------------------------------------*/
/* .common
/*-------------------------------------------*/

.link-list li { padding:0.5em; }

/*-------------------------------------------*/
/* .autoEyeCatchBox
/*-------------------------------------------*/

.autoEyeCatchBox { display:block; overflow:hidden;margin-bottom:2em; }

/*-------------------------------------------*/
/* .sitemap
/*-------------------------------------------*/



.sitemap .sectionBox { padding-top:0; }
.sitemap .sitemap-col { padding-bottom:2em; }

/*-------------------------------------------*/
/* fb Page Plugin
/*-------------------------------------------*/

.fb-like-box {
  margin: 0 auto;
  border: 4px solid #efefef;
  background-color: #f9f9f9;
  text-align: center;
}

.twitter-timeline iframe {margin-right:auto; margin-left:auto; }

.vkContentAddSection { display:block; clear:both; overflow:hidden; padding-top:20px; }

/*-------------------------------------------*/
/* .socialSet
/*-------------------------------------------*/
.socialSet ul { margin:0px;padding:0; }
.socialSet ul li { position:relative; display:block;float:left; overflow:visible; margin-right:10px; padding:0px; background:none; }
.socialSet ul li.sb_icon a {display:block; overflow:hidden; padding: 3px 5px 0px;border:1px solid #ccc; border-radius: 3px; background-color:#fff;color:#333;text-decoration: none; line-height: 100%; }
.socialSet ul li.sb_icon a .sns_txt { position: relative;top:-2px; font-size:11px; }
.socialSet ul li iframe	{ border:none; }
.socialSet ul li a .icon_sns { margin-right:5px;font-size:100%; }
.socialSet ul li.sb_icon.sb_facebook .icon_sns	{ color:#425dab; }
.socialSet ul li.sb_icon.sb_hatena .icon_sns	{ color:#2c6ebd; }
.socialSet ul li.sb_icon.sb_twitter .icon_sns	{ color:#00abec; }
.socialSet ul li.sb_icon.sb_google .icon_sns	{ color:#dd4b39; }
.socialSet ul li.sb_icon.sb_line .icon_sns	{ color:#6ebd30; }
.socialSet ul li.sb_pocket		{ margin-left:5px;}

.relatedPosts { 
	h2 { margin-bottom:10px; }
}

.followSet { display:block; overflow:hidden;margin-top:20px;padding: 15px;border:1px solid #f5f5f5; background-color: #efefef; }
.followSet h3.followSet_title {padding: 6px 10px 4px;border:none; background-color: #333; color:#fff; font-size:18px;
	&:after { border:none; }
}
.follow_btn { float:left;margin-right:20px; }


/*-------------------------------------------*/
/*			import icon
/*-------------------------------------------*/
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'vk_sns';
	src:url('../plugins/sns/icons/fonts/vk_sns.eot?-bq20cj');
	src:url('../plugins/sns/icons/fonts/vk_sns.eot?#iefix-bq20cj') format('embedded-opentype'),
		url('../plugins/sns/icons/fonts/vk_sns.woff?-bq20cj') format('woff'),
		url('../plugins/sns/icons/fonts/vk_sns.ttf?-bq20cj') format('truetype'),
		url('../plugins/sns/icons/fonts/vk_sns.svg?-bq20cj#vk_sns') format('svg');
}

[class^="vk_icon_w_r_sns_"], [class*=" vk_icon_w_r_sns_"] {
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'vk_sns';
	line-height: 1;

	/* Better Font Rendering =========== */
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.vk_icon_w_r_sns_twitter:before {
	content: "\e600";
}
.vk_icon_w_r_sns_line:before {
	content: "\e601";
}
.vk_icon_w_r_sns_hatena:before {
	content: "\e602";
}
.vk_icon_w_r_sns_google:before {
	content: "\e603";
}
.vk_icon_w_r_sns_fb:before {
	content: "\e604";
}

/*-------------------------------------------*/
/* Profile wiget Plugin
/*-------------------------------------------*/
.site-profile{
	overflow: hidden;
}
.profile_media{
	display:block; 
	margin: 0.8em auto;
	max-width: 100%;
}
.media_round{
	border-radius: 50%;
}
.media_left .profile_media{ margin-left:0; }
.media_float{
	float: left;
	padding-right: 10px;
	.profile_media{
		margin: 0.8em 0 0;
	}
	&+.profile_text{
		padding-top: 0.8em;
	}
}
.profile_text{
    margin-bottom: 0.5em;
    font-size: 14px;
}
.sns_btns{
    margin: 0;
    padding: 0;
    width: 100%;
    li{
	    float: left;
        margin-right: 0.45em;
        list-style: none;
        text-align: center;
    }   
    a{
        display: block;
        display:table;
        width: 45px;
        height: 45px;
        border-radius: 23px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        &:hover{
	        color: #fff;
	        text-decoration: none;
	        opacity: 0.8;
        }
    }
    .fa{
	 	display:table-cell;
        vertical-align:middle;
        text-align:center;  
    }
    .facebook_btn{
        a{
            background: #3b5998;
        }
    }
    .twitter_btn{
        a{
            background: #55acee;
        }
    }
    .mail_btn{
        a{
            background: #2F915F;
        }
    }
    .youtube_btn{
        a{
            background: #C81D1C;
        }
    }
    .rss_btn{
        a{
            background: #f26522;
        }
    }
    .instagram_btn{
        a{
            background: #3f729b;
        }
    }
    .linkedin_btn{
        a{
            background: #0077b5;
        }
    }
}
/*-------------------------------------------*/
/* 3PR area wiget Plugin
/*-------------------------------------------*/
.prBox{
	.subSection-title{
		font-size: 18px;
	}
	.media_pr{
		margin-top: 0.8em;
		margin-bottom: 0.8em;
	}
	.media_pc{
		display: block;
	}
	.media_sp{
		display: none;
	}
	.summary{
		margin-bottom: 0.5em;
		font-size: 14px;
		line-height: 1.4em;
	}
	.linkurl{
		a{
			text-decoration: none;
		}
	}
}
@media screen and (max-width:992px){
.prBox{
	.media_pc{
		display: none;
	}
	.media_sp{
		display: block;
	}
	.linkurl { 
		margin-bottom: 1.5em; 
	} 
}	
}
/*-------------------------------------------*/
/* childPageIndex Plugin
/*-------------------------------------------*/
.childPage_list {
	margin-top: 4em;
	a:hover{
		text-decoration: none;
	}
}
.childPage_list_box{
	position: relative;
	margin-bottom: 2.5em;
	.childPage_list_title{
		font-size: 16px;
		line-height: 1.4;
	}
	.wp-post-image{
		float: left;
		margin-right: 1em;
		width: 30%;
		border: solid 1px #ddd;
	}
	.childPage_list_body{
		overflow: hidden;
		color: #333;
		font-size: 14px;
		&:hover{
			text-decoration: underline;
		}
	}
	.childPage_list_text{
		overflow: hidden;
		margin-bottom: 0;
	}
	.childPage_list_more{
		float: right;
		margin-top: 1.5em;
	}
}
@media screen and (max-width:992px){
.childPage_list_box{
	.wp-post-image{
		float: left;
		margin-right: 1em;
		width: 25%;
		border: solid 1px #ddd;
	}
}
}
/*-------------------------------------------*/
/* sitemap page Plugin
/*-------------------------------------------*/
.sitemap-col{
	margin-top: 2.5em;
	.link-list{
		margin-top: 0;
		margin-bottom: 0;
	}	
	.page_item{
		padding: 0;
	}
	.children{
		margin-bottom: 2em;
	}
	.cat-item{
		padding: 0;
	}
}

