@charset "utf-8";
@import "compass";

/*-------------------------------------------*/
/* ex_unit
/*-------------------------------------------*/
.link-list li { padding:0.5em; }

.sitemap .sectionBox { padding-top:0; }

/*-------------------------------------------*/
/* fb Page Plugin
/*-------------------------------------------*/

.fb-like-box {
  text-align: center;
  background-color: #f9f9f9;
  margin: 40px auto;
  border: 4px solid #efefef;
}