@charset "utf-8";
@import "compass";
@import "_bizvektor_theme_included_style";
@import "_contents_option_style";

/*-------------------------------------------------*/
/* ex_unit 
/*-------------------------------------------------*/
/* .common
/*-------------------------------------------*/
/* .veu_autoEyeCatchBox
/*-------------------------------------------*/
/* .veu_sitemap
/*-------------------------------------------*/
/* .veu_socialSet
/*-------------------------------------------*/
/* .veu_childPage_list
/*-------------------------------------------*/
/* .veu_pageList_ancestor
/*-------------------------------------------*/
/* .veu_cta
/*-------------------------------------------*/
/* .veu_contact
/*-------------------------------------------*/
/* .veu_insertAds
/*-------------------------------------------*/
/* .veu_relatedPosts
/*-------------------------------------------*/
/* Widget .veu_fbPagePlugin
/*-------------------------------------------*/
/* Widget .veu_newsList
/*-------------------------------------------*/
/* Widget .veu_followSet
/*-------------------------------------------*/
/* Widget .veu_profile
/*-------------------------------------------*/
/* Widget .veu_3prArea
/*-------------------------------------------*/
/* Widget .veu_prBlocks
/*-------------------------------------------*/

$section_margin : 20px;
$color_font_default : #464646;

/*-------------------------------------------*/
/* .common
/*-------------------------------------------*/

html { font-size: inherit; } /* reset bootstrap */
.link-list li { padding:0.5em; }

@media (min-width: 768px){
.mainSection .widget { margin-bottom:40px; }
}
.widget { 
  .subSection-title { font-size:18px; }
}

h1.mainSection-title { font-size:24px; }

.veu_adminEdit { margin-top:5px; }
.veu_adminEdit a.btn:before{margin-right:5px;font-family:FontAwesome;content:"\f040";}

.veu_contentAddSection { display:block; clear:both; overflow:hidden; padding-top:20px; }

/*-------------------------------------------*/
/* .relatedPosts
/*-------------------------------------------*/
.relatedPosts { 
	h2 { margin-bottom:10px; }
}

/*-------------------------------------------*/
/* .veu_autoEyeCatchBox
/*-------------------------------------------*/

.veu_autoEyeCatchBox { display:block; overflow:hidden;margin-bottom:2em; }

/*-------------------------------------------*/
/* .veu_sitemap
/*-------------------------------------------*/

.veu_sitemap {
	.sectionBox { padding-top:0; }
	.sitemap-col { padding-bottom:2em; }
	.sitemap-col{
		margin-top: 2.5em;
		.link-list{
			margin-top: 0;
			margin-bottom: 0;
		}
		.page_item{
			padding: 0;
		}
		.children{
			margin-bottom: 2em;
		}
		.cat-item{
			padding: 0;
		}
	}
}

/*-------------------------------------------*/
/* .veu_socialSet
/*-------------------------------------------*/
.veu_socialSet ul { margin:0px;padding:0;
	li { position:relative; display:block;float:left; overflow:visible; margin-right:10px; padding:0px; background:none; }
	li.sb_icon a {display:block; overflow:hidden; padding: 3px 5px 0px;border:1px solid #ccc; border-radius: 3px; background-color:#fff;color:#333;text-decoration: none; line-height: 100%; }
	li.sb_icon a .sns_txt { position: relative;top:-2px; font-size:11px; }
	li iframe	{ border:none; }
	li a .icon_sns { margin-right:5px;font-size:100%; }
	li.sb_icon.sb_facebook .icon_sns	{ color:#425dab; }
	li.sb_icon.sb_hatena .icon_sns	{ color:#2c6ebd; }
	li.sb_icon.sb_twitter .icon_sns	{ color:#00abec; }
	li.sb_icon.sb_google .icon_sns	{ color:#dd4b39; }
	li.sb_icon.sb_line .icon_sns	{ color:#6ebd30; }
	li.sb_pocket		{ margin-left:5px;}
}
.veu_count_sns_fb,
.veu_count_sns_tw,
.veu_count_sns_hb { display:inline-block; margin-left:5px; padding:2px 5px; border-radius:5px; line-height:1; vertical-align:top; font-size:77%; color:#ffffff; }
.veu_count_sns_fb { background:#425dab; }
.veu_count_sns_tw { background:#00abec; }
.veu_count_sns_hb { background:#2c6ebd; }

/*-------------------------------------------*/
/*			import icon
/*-------------------------------------------*/
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'vk_sns';
	src:url('../plugins/sns/icons/fonts/vk_sns.eot?-bq20cj');
	src:url('../plugins/sns/icons/fonts/vk_sns.eot?#iefix-bq20cj') format('embedded-opentype'),
		url('../plugins/sns/icons/fonts/vk_sns.woff?-bq20cj') format('woff'),
		url('../plugins/sns/icons/fonts/vk_sns.ttf?-bq20cj') format('truetype'),
		url('../plugins/sns/icons/fonts/vk_sns.svg?-bq20cj#vk_sns') format('svg');
}

[class^="vk_icon_w_r_sns_"], [class*=" vk_icon_w_r_sns_"] {
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'vk_sns';
	line-height: 1;

	/* Better Font Rendering =========== */
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.vk_icon_w_r_sns_twitter:before {
	content: "\e600";
}
.vk_icon_w_r_sns_line:before {
	content: "\e601";
}
.vk_icon_w_r_sns_hatena:before {
	content: "\e602";
}
.vk_icon_w_r_sns_google:before {
	content: "\e603";
}
.vk_icon_w_r_sns_fb:before {
	content: "\e604";
}

/*-------------------------------------------*/
/* .veu_childPage_list
/*-------------------------------------------*/
.veu_childPage_list {
	margin-top: 2.5em;margin-bottom:1em;
	a:hover{ text-decoration: none; }
	.childPage_list_box { display:block;margin-bottom:1em; }
	.childPage_list_box_inner{ display:block; overflow:hidden;	position: relative;border:3px solid #efefef;box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);padding: 0 20px;}
	.childPage_list_title{ margin-top:20px;font-size: 16px;line-height: 1.4;color:$color_font_default;}
	.wp-post-image{ float: left; margin-right: 1em; width: 30%; border: solid 1px #ddd; }
	.childPage_list_body{ overflow: hidden; color: #333; font-size: 14px;margin-bottom:5px;
		&:hover{
			text-decoration: underline;
		}
	}
	p { line-height: 1.5em; }
	.childPage_list_text{ overflow: hidden;margin-bottom: 0;}
	.childPage_list_more{ float: right;margin-bottom:20px; }
}
@media (max-width: 767px){
.veu_childPage_list {
	.wp-post-image{ width: 25%; }
}
} // @media (max-width: 767px){

/*-------------------------------------------*/
/* .veu_pageList_ancestor
/*-------------------------------------------*/
.veu_pageList_ancestor{
	margin: 0 0 15px;
	.section_title.section_title{
		margin:0.5em 0;
		a{	
			color: #333;
			font-size: 23px;		
		}
	}
	.pageList{
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 100%;
		-ms-flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	.page_item{
		box-sizing: border-box;
		width: 33.3%;
		list-style: none;
		a{
			display: block;
			padding: 12px;
			color: #333;
			font-size: 0.8em;
		}
		a:hover{
			background-color: #F0F0F0;
		}
	}
	.current_page_item a{
		background-color: #F0F0F0;
	}
	.children{
		margin: 0;
		padding-left: 20px;
		li{
			display: block;
			margin-bottom: 0;
			width: 100%;
		}
		a{
			padding: 5px;
			font-size: 12px;
		}
	}
}
@media screen and (max-width:992px){
.veu_pageList_ancestor{
	.page_item{
		float: none;
		margin-bottom: 0;
		width: 100%;
	}
	.children{
		a{
			padding: 5px;
		}
	}
}	
} // @media screen and (max-width:992px){

/*-------------------------------------------*/
/* .veu_cta
/*-------------------------------------------*/
.veu_cta { display:block; overflow:hidden;background-color: #efefef;margin-top:$section_margin;margin-bottom:$section_margin;
	h1.cta_title { display:block; overflow:hidden;background-color: #333;font-size:22px;color:#fff;padding: 12px 20px 10px;line-height: 1.2em; }
	.cta_body { display:block; overflow:hidden; padding:1.5em 2em 2em;line-height: 170%; }
	.cta_body_image { margin-bottom:1.5em; }
	.cta_body_image img { max-width: 250px; }
	.cta_body_image_center { display:block; overflow:hidden;text-align: center;
		img { display:block; margin:0 auto 15px;max-width: 100%; }
	}
	
	.cta_body_txt { display:block; overflow:hidden; }
	.cta_body_link { clear:both;margin-top:1.5em; }
}
@media (max-width: 767px){
.veu_cta {
	.cta_body_image img { display:block; margin:0 auto 1.5em;max-width: 100%; }
}
}
@media (min-width: 768px){
.veu_cta {
	.cta_body_image_right { float:right;margin-left:30px; }
	.cta_body_image_left { float:left;margin-right:30px; }
}
}
/*-------------------------------------------*/
/* .veu_contact
/*-------------------------------------------*/
.veu_contact { display:block; overflow:hidden;
	.contact_frame { display:block; overflow:hidden;padding:25px 24px 21px; border:3px solid #efefef;box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);background-color: #f9f9f9; }
	.contact_txt_catch,
	.contact_txt_tel,
	.contact_txt_time { display:block; overflow:hidden; }
	.contact_txt_catch,
	.contact_txt_time { line-height: 128.6%;font-size: 14px; }
	.contact_txt_tel { font-size: 28px;line-height: 110%;padding-top:4px;}
	.contact_bt_txt:before { font-family:FontAwesome;content:"\f003";margin-right:7px; }
	.contact_bt_txt:after { font-family:FontAwesome;content:"\f18e";margin-left:7px; }
	.contact_bt_subTxt { display:block; overflow:hidden;font-size:14px; }
} // .veu_contact

@media (max-width: 767px){
.veu_contact  {
	.contact_txt { text-align: center; }
	.contact_bt  { display: block; }
} // .veu_contact
}
@media (min-width: 768px){
.veu_contact {
	p.contact_txt { margin-bottom:0; }
	.contact_txt { float:left; }
	.contact_bt { float:right; }
	.contact_bt_subTxt_side { font-size:12px; }
} // .veu_contact

.widget {
	.veu_contact .contact_bt { margin-top:15px;float:none;display: inline-block; }
}

} // @media (min-width: 768px){


/*-------------------------------------------*/
/* .veu_insertAds
/*-------------------------------------------*/
.veu_insertAds { margin-top:1em;margin-bottom:1.5em; }
@media (max-width: 971px){
	.veu_insertAds { margin-bottom:0.5em; }
	.veu_insertAds .col-md-6 {margin-bottom:1em; }
}

/*-------------------------------------------*/
/* .veu_relatedPosts
/*-------------------------------------------*/
.veu_relatedPosts{
	& > .row{
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin: 0;
		margin-right: -3%;
		-ms-flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	.relatedPosts_item{
		float: none;
		margin-right: 2.9%;
		padding-right: 0;
		padding-left: 0;
		width: 47%;
		border-bottom: solid 1px #e5e5e5;
		& > .media:first-child{
			border: none;
		}
		& > .media{
			border: none;
		}
	}
	.relatedPosts_item:nth-child(1){ border-top: solid 1px #e5e5e5; }
	.relatedPosts_item:nth-child(2){ border-top: solid 1px #e5e5e5; }
}

@media (max-width: 768px){
.veu_relatedPosts{
	.relatedPosts_item{
		display: block;
		width: 100%;
	}
	.relatedPosts_item:nth-child(2){
		border-top: none;
	}
}
}
/*-------------------------------------------*/
/* Widget .veu_fbPagePlugin
/*-------------------------------------------*/

.veu_fbPagePlugin {
	.fbPagePlugin_body {
		margin: 0 auto;
		border: 4px solid #efefef;
		background-color: #f9f9f9;
		text-align: center;
	}
}

.twitter-timeline iframe {margin-right:auto; margin-left:auto; }

/*-------------------------------------------*/
/* Widget .veu_newsList
/*-------------------------------------------*/
.veu_newPosts {
	h1.mainSection-title { margin-bottom:0; }
	ul.postList { margin:15px 0 $section_margin;padding:0;
		li { display:block; overflow:hidden;border-bottom:1px dotted #666;padding:0;clear:both; }
		a {color:$color_font_default;}
		.published,
		.taxonomies a,
		.entry-title {display:block; overflow:hidden;float:left;}
		.published { margin-right:10px;color:#d44950; }
		.published:before { content:'';margin:0; }
		.taxonomies a { background-color: #efefef; padding: 2px 5px 1px; border-radius:3px;font-size:12px;margin-right:3px; }
		.entry-title { clear:both; display: block;margin:5px 0; }
	}
	.entry-meta_items.published:before { font-family:FontAwesome;content:"\f073";margin-right:5px; }
}
/*-------------------------------------------*/
/* Widget .veu_followSet
/*-------------------------------------------*/
.veu_followSet { display:block; overflow:hidden;margin-top:20px;padding: 15px;border:1px solid #f5f5f5; background-color: #efefef;
	h3.followSet_title {padding: 6px 10px 4px;border:none; background-color: #333; color:#fff; font-size:18px;
		&:after { border:none; }
	}
	.follow_btn { float:left;margin-right:20px; }
}

/*-------------------------------------------*/
/* Widget .veu_profile
/*-------------------------------------------*/
.veu_profile {
	.profile{ overflow: hidden; }
	.profile_media{ display:block; margin: 0.8em auto;max-width: 100%;}
	.media_round{ border-radius: 50%; }
	.media_left .profile_media{ margin-left:0; }
	.media_float{ float: left;padding-right: 10px;
		.profile_media{ margin: 0.8em 0 0;}
		&+.profile_text{ padding-top: 0.8em;}
	}
	.profile_text{ margin-bottom: 0.5em;font-size: 14px;}
	.sns_btns{ margin: 0;padding: 0;width: 100%;
	    li{ float: left;margin-right: 0.45em;list-style: none;text-align: center; }   
	    a{
	        display: block;
	        display:table;
	        width: 45px;
	        height: 45px;
	        border-radius: 23px;
	        color: #fff;
	        text-decoration: none;
	        font-size: 20px;
	        &:hover{ color: #fff;text-decoration: none;opacity: 0.8;}
	    }
	    .fa{
		 	display:table-cell;
	        vertical-align:middle;
	        text-align:center;  
	    }
	    .facebook_btn a{ background: #3b5998; }
	    .twitter_btn a{ background: #55acee; }
	    .mail_btn a{ background: #2F915F; }
	    .youtube_btn a{ background: #C81D1C; }
	    .rss_btn a{ background: #f26522; }
	    .instagram_btn a{ background: #3f729b; }
	    .linkedin_btn a{ background: #0077b5; }
	}
}

/*-------------------------------------------*/
/* Widget .veu_3prArea
/*-------------------------------------------*/
.veu_3prArea{
	.subSection-title{ font-size: 18px; }
	.media_pr{
		margin-top: 0.8em;
		margin-bottom: 0.8em;
	}
	.media_pc{ display: block; }
	.media_sp{ display: none; }
	.summary{ margin-bottom: 0.5em; font-size: 14px; line-height: 1.4em; }
	.linkurl a{ text-decoration: none; }
}
@media screen and (max-width:992px){
.veu_3prArea{
	.media_pc{ display: none; }
	.media_sp{ display: block; }
	.linkurl { margin-bottom: 1.5em; } 
}	
}

/*-------------------------------------------*/
/* Widget .veu_prBlocks
/*-------------------------------------------*/
.veu_prBlocks{
	display: table;
	width: 100%;
	table-layout: fixed;
	.prArea{
		display: table-cell;
		padding: 0 1em;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
	a{
		color: #333;
		&:hover{
			color: #333;
			text-decoration: none;
		}
		.summary:hover{
			text-decoration: underline;
		}
	}
	.circle_icon{
		display: table;
		margin: 0 auto ;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		.font_icon{
			display: table-cell;
			color: #fff;
			vertical-align: middle;
			text-align: center;
			font-size: 40px;
		}
	}
	.prBox_title{
		margin-top: 1.5em;
		margin-bottom: 1em;
		text-align: center;
		font-size: 18px;
	}
	.media_pr{
		display: table;
		margin: 0 auto;
	}
	.pr_image{
		display: table-cell;
		overflow: hidden;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		vertical-align: middle;
		text-align: center;
	}
	.summary{
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 14px;
		line-height: 1.4em;
	}
}
@media screen and (max-width:767px){
.veu_pr_blocks{
	display: block;
	.prArea{
		display: block;
		margin-bottom: 3em;
		&:first-child{
			padding-left: 1em;
		}
		&:last-child{
			padding-right: 1em;
		}
	}
}
}