#customize-controls .section-title {
  border-top: 1px solid #ccc;
  font-size: 16px;
  margin: 1em 0 0;
  padding-top: 1em;
}
#customize-controls .section-title-sub {
  font-size: 14px;
  margin: 0;
}
#customize-control-Facebook_application_ID_title .section-title {
  border-top: none;
  margin: 0;
  padding-top: 0;
}
