/*-------------------------------------------*/
/* .veu_cta
/*-------------------------------------------*/

$section_margin : 30px;

.veu-cta-block + .veu_adminEdit {
	position: absolute;
	margin-top:-3em;
	margin-left:1em;
	z-index: 999;
	& > .btn {
		font-size:12px;
	}
}

@mixin veu_content_bottom_section { display:block; overflow:hidden;margin-top:$section_margin;margin-bottom:$section_margin;background-color: #efefef; }
@mixin veu_content_bottom_section_title { display:block; overflow:hidden;margin:0;padding: 12px 20px 10px;background-color: #333;color:#fff;font-size:22px;line-height: 1.2em; }
@mixin veu_content_bottom_section_body { display:block; overflow:hidden; padding:1.5em 1.5em 2em; }

.veu_cta { @include veu_content_bottom_section;
	.cta_title { @include veu_content_bottom_section_title; }
	.cta_body { @include veu_content_bottom_section_body;line-height: 170%; }
	.cta_body_image { margin-bottom:1.5em; }
	.cta_body_image img { max-width: 250px; }
	.cta_body_image_center { display:block; overflow:hidden;text-align: center;
		img { display:block; margin:0 auto 15px;max-width: 100%; }
	}

	.cta_body_txt { display:block; overflow:hidden; }
	.cta_body_link { clear:both;margin-top:1.5em; }
}

@media (max-width: 767px){
.veu_cta {
	.cta_body_image img { display:block; margin:0 auto 1.5em;max-width: 100%; }
}
}

@media (min-width: 768px){
.veu_cta {
	.cta_body_image_right { float:right;margin-left:30px; }
	.cta_body_image_left { float:left;margin-right:30px; }
}
}
